<html>
  <head>
    {% if title %}
    <title>{{ title }} - XXX</title>
    {% else %}
    <title>Welcome to XXX</title>
    {% endif %}
  </head>
  
<body>

<h1>CV metadata:</h1>
<br>
{% for candidate in candidates %}
    <h2>Candidate:</h2>
    <div><p><b>Name: </b> {{ candidate.name }}</p></div>
	<div><p><b>E-mail: </b> {{ candidate.contact }}</p></div>
	<br>
	<div><p><b>CV Filename: </b> {{ candidate.cv.filename }}</p></div>
	<div><p><b>CV Language: </b> {{ candidate.cv.language }}</p></div>
	<br>
	<div><p><b>Skills: </b> </p></div>
	{% for skill in candidate.cv.skills %}
	{{ skill }}
	<br><br>
	{% endfor %}
    {% endfor %}

</body>
</html>
